<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Easy Install</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <!-- Custom css -->
    <link rel="stylesheet" href='{% static "css/base.css" %}'/>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
            // In a perfect world, this would be its own library file that got included
            // on the page and only the ``$(document).ready(...)`` below would be present.
            // But this is an example.
            var Autocomplete = function(options) {
              this.form_selector = options.form_selector
              this.url = options.url || '/search/autocomplete/'
              this.delay = parseInt(options.delay || 300)
              this.minimum_length = parseInt(options.minimum_length || 3)
              this.form_elem = null
              this.query_box = null
            }

            Autocomplete.prototype.setup = function() {
              var self = this

              this.form_elem = $(this.form_selector)
              this.query_box = this.form_elem.find('input[name=q]')

              // Watch the input box.
              this.query_box.on('keyup', function() {
                var query = self.query_box.val()

                if(query.length < self.minimum_length) {
                  return false
                }

                self.fetch(query)
              })

              // On selecting a result, populate the search field.
              this.form_elem.on('click', '.ac-result', function(ev) {
                self.query_box.val($(this).text())
                $('.ac-results').remove()
                return false
              })
            }

            Autocomplete.prototype.fetch = function(query) {
              var self = this

              $.ajax({
                url: this.url
              , data: {
                  'q': query
                }
              , success: function(data) {
                  self.show_results(data)
                }
              })
            }

            Autocomplete.prototype.show_results = function(data) {
              // Remove any existing results.
              $('.ac-results').remove()

              var results = data.results || []
              var results_wrapper = $('<div class="ac-results"></div>')
              var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

              if(results.length > 0) {
                for(var res_offset in results) {
                  var elem = base_elem.clone()
                  // Don't use .html(...) here, as you open yourself to XSS.
                  // Really, you should use some form of templating.
                  elem.find('.ac-result').text(results[res_offset])
                  results_wrapper.append(elem)
                }
              }
              else {
                var elem = base_elem.clone()
                elem.text("No results found.")
                results_wrapper.append(elem)
              }

              this.query_box.after(results_wrapper)
            }

            $(document).ready(function() {
              window.autocomplete = new Autocomplete({
                form_selector: '.autocomplete-me'
              })
              window.autocomplete.setup()
            })
</script>

</head>


<body>
<!--navigation bar left section-->
    <nav class="navbar navbar-default navbar-fixed-top" style="background:white;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://installme.herokuapp.com/">New Install</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/createSetup">Create Setup</a></li>
          <li><a href="/feedback">Feedback</a></li>
        </ul>
        <!--navigation bar search componenet-->
        <form method="GET" ACTION="/" class="navbar-form navbar-left" style="padding-left:15em">
          <div class="input-group">
            <input type="text" id="id_q" name="q" class="form-control"  placeholder="Search" value="{{ request.GET.q }}">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" value="search" id="submit_button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <!--</div>-->
          <!--navigation bar right section-->
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>{{user}}</strong><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Account</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
            {% else %}
            <li>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
              </li>
              {% endif %}
        </ul>
      </div>
    </nav>










<!-- footer -->
<!--<footer class="footer">-->
      <!--<div class="container">-->
        <!--<span class="text-muted">Place sticky footer content here.</span>-->
          <!--<div class="col-md-12 text-right"><h5>©Company 2016</h5></div>-->
      <!--</div>-->
    <!--</footer>-->

</body>
</html>

